/* Estilos generales */
.reports-container {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #f0f0f0; Color de fondo claro */
    border-radius: 10px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  }
  
  .reports-title {
    text-align: left;
    font-size: 45px;
    font-weight: bold;
    /* color: #333; Color de texto oscuro */
    margin-bottom: 20px;
  }
  
  .reports-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Estilos para filtros */
  .filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .fecha-filter,
  .tipo-reporte-filter {
    margin: 10px;
  }
  
  .fecha-filter label,
  .tipo-reporte-filter label {
    display: block;
    margin-bottom: 5px;
  }
  
  .fecha-filter input[type="date"],
  .tipo-reporte-filter select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilos para el componente ReporteItem (reemplazar con tu implementación) */
  .reporte-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .reporte-item h3 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .reporte-item p {
    margin: 0;
  }
  

  .table-header {
    font-weight: bold;
  }

  .reports {
    padding: 25px;
  }

  .create-report {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
    padding-right: 5%;
  }

  body {
    background-color: #F2F2F2;
  }
