*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-fw: 700;
  --primary-fs: 15px;
  --primary-linear-gradient: hsl(298, 97%, 46%), hsl(237, 63%, 64%);
  --neutral-very-light-grayish-blue: hsl(240, 78%, 98%);
  --neutral-light-grayish-blue: hsl(234, 14%, 74%);
  --neutral-grayish-blue: hsl(233, 13%, 49%);
  --neutral-dark-grayish-blue: hsl(232, 13%, 33%);
  --neutral-white: hsl(0, 0%, 100%);
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: var(--primary-fw);
  font-size: var(--primary-fs);
}

.PricingApp {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-very-light-grayish-blue);
  background-image: url("../images/bg-top.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 375px 658px;
}

.PricingApp::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 353px;
  width: 100%;
  height: 304px;
  background-image: url("../images/bg-bottom.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: var(--primary-fw);
  font-size: var(--primary-fs);
}

/* Container */
.PricingApp .app-container {
  width: min(90%, 70rem);
}

/* Contact Form */
.contact-form {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--neutral-white);
}

.header-topic {
  text-align: center;
  color: var(--neutral-dark-grayish-blue);
  margin-bottom: 1rem;
}

.header-description {
  text-align: center;
  color: var(--neutral-grayish-blue);
  margin-bottom: 2rem;
}

.button-primary {
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-primary:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 800px) {
  .PricingApp {
    padding-block: 4em;
  }
}
